@import '../app/Variables.scss';
@import '../app/Mixins.scss';

.task {
  padding: 8px 0;

  .task-content {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: $shadow-1;
    overflow: hidden;
    box-sizing: border-box;
    transition: box-shadow 180ms, transform 180ms;
  }

  .text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;

    .description {
      color: $text-1;
      white-space: pre-wrap;
      line-height: 1.25;
      min-height: 20px;
    }

    textarea {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 0;
      resize: none;
      outline: none;
      border: none;
      overflow: hidden;
      line-height: 1.25;
      width: 100%;
    }
  }

  .labels {
    display: flex;
    flex-wrap: wrap;
    margin: -6px;
    transition: opacity 400ms $bezier-1;

    .label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 6px;
      padding: 5px 10px;
      background-color: $text-2;
      color: white;
      font-size: 14px;
      line-height: 14px;
      font-weight: 700;
      border-radius: 50px;
      min-width: 80px;

      &.green {
        background-color: $green;
      }

      &.yellow {
        background-color: $yellow;
      }

      &.orange {
        background-color: $orange;
      }

      &.lime {
        background-color: $lime;
      }

      &.blue {
        background-color: $blue;
      }

      &.red {
        background-color: $red;
      }
    }
  }

  .avatar-container {
    min-height: 12px;
  }

  .label-container {
    position: relative;
    display: flex;
    margin-top: 16px;
  }

  .buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    background-color: white;
    margin: -18px;
    padding: 4px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 160ms;

    button {
      background-color: $bg-2;

      &:hover,
      &:active,
      &:focus {
        background-color: $bg-3;
      }

      &:not(:first-child) {
        margin-left: 6px;
      }

      .icon {
        width: 20px;
        height: 20px;
      }
    }
  }

  @include desktop-small {
    .labels .label {
      min-width: 50px;
    }
  }
}

.task-container {
  display: flex;
  flex-direction: column;
  min-height: 0;

  &.dragged .task-content {
    transform: rotate(2deg);
  }

  &.dragged,
  &.released {
    position: absolute;
    z-index: 100;

    .task-content {
      box-shadow: $shadow-3;
    }

    .buttons {
      pointer-events: none;
    }
  }

  &.released {
    transition: all 180ms $bezier-1;
    transition-property: left, top;

    .task-content {
      box-shadow: none;
    }
  }

  &.creating {
    overflow: hidden;
    $duration: 260ms;
    $delay: 120ms;
    opacity: 0;

    &:last-child {
      transition: opacity $duration $bezier-1;
      height: auto !important;
    }

    &:not(:last-child) {
      transition: height $duration $bezier-1 $delay, padding $duration $bezier-1 $delay, opacity $duration $bezier-1;
    }

    &.mounted {
      opacity: 1;

      &:not(:last-child) {
        transition: height $duration $bezier-1, padding $duration $bezier-1, opacity $duration $bezier-1 $delay;
      }
    }
  }

  &:not(.editing) textarea {
    visibility: hidden;
  }

  &:hover:not(.editing) .buttons,
  &.dragged .buttons,
  &.released .buttons,
  &.just-dropped .buttons {
    opacity: 1;
    pointer-events: all;
  }

  &.just-dropped .buttons {
    transition: none;
  }
}
