@import '../app/Variables.scss';
@import '../app/Mixins.scss';

.task-board {
  padding: 40px 20px 20px 20px;
  display: flex;
  box-sizing: border-box;
  position: relative;
  flex-grow: 1;

  .column {
    min-width: 300px;
    width: 300px;
    max-width: 720px;
    flex-grow: 1;
    background-color: $bg-2;
    padding: 16px 16px 8px 16px;
    border-radius: 4px;

    &:not(:first-child) {
      margin-left: 16px;
    }

    h2 {
      margin: 5px 0 20px 0;
      font-size: 18px;
      line-height: 18px;
    }

    .add-button {
      width: 100%;
      margin-bottom: 8px;

      svg {
        pointer-events: none;
      }

      @include touch {
        pointer-events: none;
      }
    }
  }

  &.dropping {
    pointer-events: none;
  }
}
