@import '../app/Variables.scss';

.placeholder {
  display: flex;
  align-items: stretch;
  transition: height 140ms $bezier-1 60ms;

  .placeholder-fill {
    opacity: 0;
    background-color: $bg-3;
    border-radius: 4px;
    margin: 8px 0;
    box-sizing: border-box;
    flex-grow: 1;
    transition: opacity 300ms linear;
  }

  &.expanded .placeholder-fill {
    opacity: 1;
  }
}
