@import '../app/Variables.scss';

.placeholder {
  transition: height 140ms cubic-bezier(0.5, 0, 0.5, 1);
  display: flex;
  align-items: stretch;

  .placeholder-fill {
    background-color: $bg-3;
    border-radius: 4px;
    margin: 8px 0;
    box-sizing: border-box;
    flex-grow: 1;
  }
}

.placeholder:last-of-type {
  transition-duration: 0ms;
}
