@import '../app/Variables.scss';

.task-board {
  padding: 40px 20px;
  display: flex;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  flex-grow: 1;

  .category {
    min-width: 280px;
    width: 280px;
    max-width: 400px;
    flex-grow: 1;
    background-color: $bg-2;
    padding: 15px;
    border-radius: 4px;

    &:not(:first-child) {
      margin-left: 15px;
    }

    h2 {
      margin: 5px 0 20px 0;
      font-size: 18px;
      line-height: 18px;
    }

    .add-button {
      width: 100%;
      margin-bottom: 15px;
    }

    .task-list {
      > *:not(:first-child) {
        margin-top: 15px;
      }
    }
  }

  .extra-height {
    height: 180px;
    visibility: hidden;
  }
}
