$bg-1: #f6f8f9;
$bg-2: #ecf1f2;
$bg-3: #e4e7e7;

$text-1: #0f1825;
$text-2: #818f9a;
$text-3: #a3b1bb;

$white-hover: #f8fafb;
$white-hover-2: #f5f7f9;

$green: #97d000;
$yellow: #f5c200;
$orange: #ff5200;
$lime: #19d463;
$blue: #00acf0;
$red: #fc1449;

$font-1: 'Lato', 'Helvetica', 'sans serif';

$shadow-1: 0 1px 4px 0 rgba(21, 27, 38, 0.1);
$shadow-2: 0 1px 4px 0 rgba(21, 27, 38, 0.15);
$shadow-2-hover: 0 2px 8px 0 rgba(21, 27, 38, 0.15);
$shadow-3: 0 5px 25px 0 rgba(21, 27, 38, 0.18);

$bezier-1: cubic-bezier(0.5, 0, 0.5, 1);
