@import './Variables.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-1;
  color: $text-1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100%;
  background-color: $bg-1;
}

html.wf-loading {
  #root {
    display: none;
  }
}
