@import './Variables.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-1;
  color: $text-1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100%;
  background-color: $bg-1;
}

html.wf-loading {
  #root {
    display: none;
  }
}

.icon .fill {
  fill: $text-2;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  border: none;
  border-radius: 4px;
  padding: 5px;
  outline: none;
  cursor: pointer;
  box-shadow: $shadow-2;
}
