@import '../app/Variables.scss';
@import '../app/Mixins.scss';

.menu-button-container {
  position: relative;

  .menu-anchor {
    position: absolute;
    top: 0;
    right: 0;
  }

  .menu-content {
    z-index: 1000;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 6px 0;
    border-radius: 4px;
    box-shadow: $shadow-3;

    .menu-item {
      display: flex;
      align-items: center;
      padding: 8px 25px 8px 20px;

      &:hover,
      &:active,
      &:focus {
        background-color: $bg-2;
      }
    }
  }
}
