@import '../app/Variables.scss';
@import '../app/Mixins.scss';

.popup-container {
  position: relative;

  .popup-positioner {
    position: absolute;
    top: 0;
    right: 0;
  }

  .popup-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    background-color: white;
    border-radius: 4px;
    box-shadow: $shadow-3;
  }

  &.left {
    .popup-positioner {
      right: unset;
      left: 0;
    }

    .popup-content {
      right: 0;
    }
  }

  &.above {
    .popup-positioner {
      top: unset;
      bottom: 0;
    }

    .popup-content {
      bottom: 0;
    }
  }
}
