@import '../app/Variables.scss';

.header {
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $shadow-1;

  h1 {
    margin: 0;
    padding: 25px 10px 27px 10px;
    line-height: 20px;
    font-size: 20px;
    font-weight: 700;
  }

  .avatars {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 20px;

    .avatar {
      width: 36px;
      height: 36px;
      border: 2px solid white;
      border-radius: 50%;
      background-size: contain;
      overflow: hidden;
      margin-left: -8px;

      &.bean {
        background-image: url('../../assets/images/bean.png');
      }

      &.elfo {
        background-image: url('../../assets/images/elfo.png');
      }

      &.sorcerio {
        background-image: url('../../assets/images/sorcerio.png');
      }
    }
  }
}
